<?xml version="1.0" encoding="UTF-8"?>
<web-app id="a" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>PredigAppServiceWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>jspFinal</display-name>
    <servlet-name>jspFinal</servlet-name>
    <jsp-file>jspFinal.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>jspFinal</servlet-name>
    <url-pattern>/jspFinal</url-pattern>
  </servlet-mapping>
</web-app>